*{
    margin: 0;
    padding: 0;
}

.inline{
    display: inline;
}

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 12vw;
}

.github{
    width: 70%;
    height: 140%;
    background-color: white;
    border-radius: 5px;
    border-bottom: 5%;
    border: 3px solid #ffaa00;
    margin-top: 3%;
    margin-left: 3%;
}

.subcribete{
    height: 85%;
    align-items: center;
    float: right;
    text-align: center;
    text-size-adjust: 1;
}

.titulo{
    text-align: center;
    background-color: #006666;
    color:#f6ff00;
    /* height: 70px; */
    height: 70%;
    /*width: 680px;*/
    width: 100%;
    margin: auto;
    font-size: 150%;
    border: 5px solid #ffa200;
    /*padding-top: 20px;*/
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.margenSuperiorIzquierdo{
    /* margin-top: 2%;
    margin-left: 2%; */
    float:left;
    width: 10%;
    height: 25%;
}

header{
    height: 100px;
    background-color: darkgrey;
}

.footer{
    margin-top: auto;
    height: 10vw;
    color: #ffaa00;
    background-color: #000000;
    position: absolute; /* usado para fijar el footer al bottom */
    bottom: 0; /* usado para fijar el footer al bottom*/
    width: 100%; /* usado para fijar el footer al bottom*/
    text-align: center;
}

#parrafoFooter{
    background-color: black;
}

.contenedorIndice{
    height: 40%;
    vertical-align: middle;
}

.indice{
    height: 100%;
    line-height: 25px;
    padding: 0px 8px;
    padding-left: 8vw;
    font-weight: auto;
    background-color: orangered;
    border-radius: 5px;
    justify-content: space-evenly;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0% 2%;
    width: 20%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

nav a:hover{
    background-color: silver;
}

.ajusteVentana{
    height: 100vw;
    width: 100vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
   /* position: relative;  probando para fijar el footer */ 
}

img{
    max-width: 100%; /* del viewport */
	height: auto;
	min-width: 20%; /* del viewport */   
    /*width: 100%; */
    /*height: 100%; */
    border: 2px solid grey;
}

.imagenContenida {
    height: 60%;
    width: 60%;
    max-width: 60%;
    margin-right: 1%;
    /*margin-left: 1%;
    margin-top: 1%;*/
}

.tituloNoticias{
    width: 100%;
    height: 100%;
    font-size: calc(1.325rem + .6vw);
}

.parrafoNoticias {
    margin-top: 1%;
    margin-bottom: 0;
}

.flotarIzquierda{
    float: Left;
}

.flotarDerecha{
    float: Right;
}


.alineacionVerticalAbajo{
    vertical-align: bottom;
}

ul{
    /* defino el estilo de los BULLETS / PUNTOS que numeran items de lista como NADA, haciendo que no se vean */
    list-style-type: none;
}

h1{
    height: 100%;
    background-color: red;
}

.logo{
    height: 99%;
    border-radius: 8px;
    border: none;
}

.container {  display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100% 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "categoriaGaming"
      "categoriaMusica"
      "categoriaEstrenos";
    margin-top: 2vw;  
  }
  
  .categoriaGaming {  display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 2% 1%;
    grid-auto-flow: row;
    grid-template-areas:
      "noticiaGaming1 noticiaGaming2"
      "noticiaGaming3 noticiaGaming4";
    grid-area: categoriaGaming;
  }
  
  .noticiaGaming1 { grid-area: noticiaGaming1; padding: 3%; margin-bottom: 2%;}
  
  .noticiaGaming2 { grid-area: noticiaGaming2; padding: 3%; margin-bottom: 2%;}
  
  .noticiaGaming3 { grid-area: noticiaGaming3; padding: 3%; margin-bottom: 2%;}
  
  .noticiaGaming4 { grid-area: noticiaGaming4; padding: 3%; margin-bottom: 2%;}
  
  .categoriaMusica {  display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    gap: 2% 1%;
    grid-auto-flow: row;
    grid-template-areas:
      "noticiaMusica1 noticiaMusica2 noticiaMusica3"
      "noticiaMusica4 noticiaMusica5 noticiaMusica6";
    grid-area: categoriaMusica;
  }
  
  .noticiaMusica1 { grid-area: noticiaMusica1; }
  
  .noticiaMusica2 { grid-area: noticiaMusica2; }
  
  .noticiaMusica3 { grid-area: noticiaMusica3; }
  
  .noticiaMusica4 { grid-area: noticiaMusica4; }

  .noticiaMusica5 { grid-area: noticiaMusica5; }

  .noticiaMusica6 { grid-area: noticiaMusica6; }

  .categoriaEstrenos {  display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    gap: 0% 1%;
    grid-auto-flow: row;
    grid-template-areas:
      "noticiaEstreno1 noticiaEstreno2 noticiaEstreno3 noticiaEstreno4";
    grid-area: categoriaEstrenos;
  }
  
  .noticiaEstreno1 { grid-area: noticiaEstreno1; }
  
  .noticiaEstreno2 { grid-area: noticiaEstreno2; }
  
  .noticiaEstreno3 { grid-area: noticiaEstreno3; }
  
  .noticiaEstreno4 { grid-area: noticiaEstreno4; }

  .footer-menu {  display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "footer-column footer-column2 footer-column3 footer-column4";
    background-color: black;   
  }
  
  .footer-column { grid-area: footer-column; }
  
  .footer-column2 { grid-area: footer-column2; }
  
  .footer-column3 { grid-area: footer-column3; }
  
  .footer-column4 { grid-area: footer-column4; }


  @media only screen and (max-width:767px){
    nav,noticiaGaming1,noticiaGaming2,noticiaGaming3,noticiaGaming4{
        width: 100%;
    }
  }
  
  